@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Oswald', sans-serif;
	outline: 0; 
}


$black: #161616;
$pink: #f6007c;
$white: #FFFFFF;