.indexFooter {
  width: 100%;
  background-color: $black;
.indexFooterLogoTextsContainer{
display: flex;
justify-content: space-around;
}
a{
svg{
  margin: 150px;
  width: 400px;
  height: auto;
}
}

  .end{
    margin-top:80px;
    margin-left: 700px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 16px;

  } 
}
.footerListsContainer {
  display: flex;
  margin-right: 250px;
  font-size: 18px;
  margin-top: 80px;
  .footerLists {

margin: 1em;
    h4 {
      color: $pink;
margin-bottom: 0.5em;
    }
    p {
      color: $white;
margin-bottom: 0.2em;
    }
    img{
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

}
