$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

main{
    section.servicios{

        .parent {
            display: grid;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 100px;
            margin-bottom: 200px;
            }
            .tarjeta{
                position: relative;
                height: 100%;
                display: flex;

                a{
                    text-decoration: none;
                }
                .background{
                    left: 170px;
                    width: 223.5px;
                    height: 597px;
                    z-index: 1;
                }
                .texto{
                    margin-top: 450px;
                    margin-left: 22px;
                p{
                    background-color: #F6007C;
                    color: #fff;
                    width: 83px;
                    height: 28px;
                    text-align: center;

                }
                h2{
                    color: #fff;
                    
                }
                button{
                    background-color: transparent;
                    border: none;
                }                    
                }

            }
            .tarjeta.div1{
                    background-image: url(../media/servicios/servicios_diseño.png);
                }
                .tarjeta.div2{
                    background-image: url(../media/servicios/servicios_socialmedia.png);
                }
                .tarjeta.div3{
                    background-image: url(../media/servicios/servicios_web.png);
                }
                .tarjeta.div4{
                    background-image: url(../media/servicios/servicios_apps.png);
                }
                .tarjeta.div5{
                    background-image: url(../media/servicios/servicios_ux.png);
                }
    }
    section.proyectos{

        .parent {
            display: grid;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 100px;
            margin-bottom: 200px;
            }
            .tarjeta{
                position: relative;
                background-image: url(../media/servicios/social-media.jpg);
                height: 100%;
                display: flex;
                a{
                    text-decoration: none;
                }
                .background{
                    left: 170px;
                    width: 223.5px;
                    height: 597px;
                    z-index: 1;
                }
                .texto{
                    margin-top: 450px;
                    margin-left: 22px;
                p{
                    background-color: #F6007C;
                    color: #fff;
                    width: 83px;
                    height: 28px;
                    text-align: center;

                }
                h2{
                    color: #fff;
                    
                }
                button{
                    background-color: transparent;
                    border: none;
                }                    
                }

            }
            .tarjeta.div1{
                background-image: url(../media/servicios/servicios_diseño.png);
            }
            .tarjeta.div2{
                background-image: url(../media/servicios/servicios_socialmedia.png);
            }
            .tarjeta.div3{
                background-image: url(../media/servicios/servicios_web.png);
            }
            .tarjeta.div4{
                background-image: url(../media/servicios/servicios_apps.png);
            }
    }
    section.page{
        .parent {
            display: grid;
            justify-items: center;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 200px;
            div{
                margin-top: 200px;
                width: 420px;
                height: 500px;
                display: grid;
                text-align: start;


            }
                            
            .flipart.div1{
                background-image: url(../media/flipart/flipart_artistic.png);
            }
            .flipart.div2{
                background-image: url(../media/flipart/flipart_branding.png);
            }
            .flipart.div3{
                background-image: url(../media/flipart/flipart_socialmedia.png);
            }
            .marketing.div1{
                background-image: url(../media/mkt/mkt_socialmedia.png);
            }
            .marketing.div2{
                background-image: url(../media/mkt/mkt_campañas.png);
            }
            .marketing.div3{
                background-image: url(../media/mkt/mkt_estrategias.png);
            }
            .desarrollo.div1{
                background-image: url(../media/web/web_sitioweb.png);
            }
            .desarrollo.div2{
                background-image: url(../media/web/web_landing.png);
            }
            .desarrollo.div3{
                background-image: url(../media/web/web_wordpress.png);
            }
            .garage.div1{
                background-image: url(../media/garage/garage_plataformas.png);
            }
            .garage.div2{
                background-image: url(../media/garage/garage_apps.png);
            }
            .garage.div3{
                background-image: url(../media/garage/garage_uxui.png);
            }
            h2{
                margin-left: 37px;
                font-size: 40px;
                color: #fff;
                margin-top: 200px;
            }
            p{
                margin-left: 37px;
                height: 260px;
                width: 300px;

                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/35px Helvetica LT Std;
                letter-spacing: var(--unnamed-character-spacing-0);
                color: #fff;

            }
            }
    }
    section.sitios{
        .desarrollo {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: dense;
            grid-template-rows: min-content;
            margin-top: 100px;
            }
            .item:nth-child(2n){
                grid-row: span 70;
                grid-column: span 1;

            }
            .item:hover:nth-child(1n){
                grid-column: span 1;
            }
        .items1:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
        }
        .items2:nth-child(1n){
            grid-row: span 70;
            grid-column: span 1;
        }
        .items3:nth-child(1n){
            grid-row: span 35;
        }
        .items4:nth-child(1n){
            grid-row: span 70;
            grid-column: span 1;
        }
        .items5:nth-child(1n){
            grid-row: span 35;

        }
        .items6:nth-child(1n){
            grid-row: span 70;

        }
        .items7:nth-child(1n){
            grid-row: span 70;
            grid-column: span 1;

        }
        .items8:nth-child(1n){
            grid-row: span 70;
        }
        .items9:nth-child(1n){
            grid-row: span 35;
        }
        .items10:nth-child(1n){
            grid-row: span 35;

        }
        .items11:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;

        }
        .items12:nth-child(1n){
            grid-row: span 70;
            grid-column: span 1;
        }
        .items13:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
        }
        .items14:nth-child(1n){
            grid-row: span 70;
            grid-column: span 1;

        }
        .items15:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
        }
        .items16:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
            background-image: url(../media/adiches-tech/plantilla-flipa-sitio.png);
            background-size: cover;
            background-repeat: no-repeat;

        }
        .items17:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
            background-image: url(../media/adiches-tech/panda-sitio.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .items18:nth-child(1n){
            grid-row: span 35;
            grid-column: span 1;
            background-image: url(../media/adiches-tech/trex-sitio.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

.item:hover{
    scale: none;
}
.div-imagen {
    a{
        text-decoration: none;
    }
    display:inline-block;
    position:relative;
    img{
        max-width: 100%;
        max-height: 100%;
    }
  }
  .grande{
      width: 100%;
      height: 100%;
  }
  .grande:hover{
   .este{
    position:absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);

  }
  .textos{
      display: block;
      position: relative;
      padding-bottom: 30px;
      a{
          text-decoration: none;
          color: #fff;
      }
  }     
  }
  .textos{
      display: none;
  }

  
  .div-imagen > div {
    position: absolute;

  }
  
    }
    
.proximamente {
    width: 100%; 
    .contenedor{
        margin-top: 150px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1{
        margin-left: 82px;
        margin-top: 100px;
        hr{
            width: 80px;
            color: #F6007C;
        }
        h2{
            color: #F6007C;
            font-size: 125px;
            width: 200%;
            img{
                width: 150px;
                height: 150px;
                margin-top: -40px;
            }
        }
        p{
            font-size: 24px;
            font-family: 'Lato', sans-serif;
        }
        button{
            width: 250px;
            height: 50px;
            background-color: #F6007C;
            color: #fff;
            border: none;
            border-radius: 5px;
        }
    }
    .div2{
        img{
            width: 750px;
            height: 750px;
        }
    }
}
section.sale-first{
    .contenido {
        margin-top: 150px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .texto{
            width: 445px;
            margin-left: 82px;
            h4{
                width: 245px;
                text-align: start;
                font-size: 26px;
                span{
                    color: #F6007C;
                }
            }
            p{
                font-family: $lato;
            }
            ul{
                li{
                font-family: $lato;                    
                }

            }
            button{
                background-color: #F6007C;
                border: none;
                border-radius: 5px;
                width: 250px;
                height: 50px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
            }
            button:hover{
                background-color:#fff;
                border: solid 2px #F6007C;
                color:#F6007C;
            }
            .tachado{
                font-size: 21px;
                font-weight: bold;
                text-decoration: line-through #F6007C;
                font-family: $oswald;
            }
            .oferta{
                font-size: 48px;
                font-weight: bold;
                color: #F6007C;
                font-family: $oswald;
            }
        }
        .foto{
            margin-left: 82px;
            width: 500px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .div-imagen {
            a{
                text-decoration: none;
            }
            display:inline-block;
            position:relative;
            img{
                max-width: 100%;
                max-height: 100%;
            }
          }
          .grande{
              width: 100%;
              height: 100%;
          }
          .grande:hover{
           .este{
            position:absolute;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            background-color: rgb(0, 0, 0);
        
          }
          .textos{
              display: block;
              position: relative;
              padding-bottom: 30px;
              a{
                  text-decoration: none;
                  color: #fff;
              }
          }     
          }
          .textos{
              display: none;
          }
        
          
          .div-imagen > div {
            position: absolute;
        
          }
}
}
.amarilloFlipa{
    background-color: #FFCC00;
    color: #fff;
    font-weight: 800;
    width: 100px;
    text-align: center;
    margin: 50px 0px 0px 25px;


}
.titulo-hover{
    font-size: 25px;
    font-weight: 900;
    color:#fff;
    margin: 0px 0px 20px 25px;
}

.arrow{
    margin-top: 50px;    
    padding-bottom: 50px;
    margin-left: 20px;

}
.grande{
    display: flex;
    justify-content: end;
    flex-direction: column;

}
.rosaFlipa{
    background-color: #F6007C;
    color: #fff;
    font-weight: 800;
    width: 100px;
    text-align: center;
    margin: 50px 0px 0px 25px;

}